{% extends 'base.html' %}

{% block content %}
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">Имя</label>
            <input type="text" name="first_name" class="form-control" id="id_first_name" required>
        </div>
        <div class="form-group">
            <label for="id_last_name">Фамилия</label>
            <input type="text" name="last_name" class="form-control" id="id_last_name" required>
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            <input type="email" name="email" class="form-control" id="id_email" required>
        </div>
        <div class="form-group">
            <label for="id_phone_number">Номер телефона</label>
            <input type="text" name="phone_number" class="form-control" id="id_phone_number" required>
        </div>
        <div class="form-group">
            <label for="id_password">Пароль</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        <div class="form-group">
            <label for="id_confirm_password">Подтвердите пароль</label>
            <input type="password" name="confirm_password" class="form-control" id="id_confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}
