{% extends 'base.html' %}

{% block content %}
    <h1>Список ваших заявок</h1>
    {% if tickets %}
        <table>
            <thead>
            <tr>
                <th>Заголовок</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Планируемая дата исполнения</th>
                {% if user.groups.filter %}
                    <th>Пользователь</th>
                {% endif %}
                <th>Исполнение</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{% url 'helpdesk:view_ticket' ticket.id %}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.get_status_display }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.deadline|default:"не назначена" }}</td>
                    {% if user.groups.filter %}
                        <td>{{ ticket.user.last_name }} {{ ticket.user.first_name }}</td>
                    {% endif %}
                    <td>
                        {% if ticket.can_complete %}
                            <form method="post" action="{% url 'helpdesk:complete_ticket' ticket.id %}">
                                {% csrf_token %}
                                <button type="submit">Завершить</button>
                            </form>
                        {% endif %}
                        {% if ticket.can_reopen %}
                            <form method="post" action="{% url 'helpdesk:reopen_ticket' ticket.id %}">
                                {% csrf_token %}
                                <button type="submit">Вернуть в работу</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас еще нет заявок.</p>
    {% endif %}
    <p><a href="{% url 'helpdesk:create_ticket' %}">Создать новую заявку</a></p>
{% endblock %}
