{% extends 'base.html' %}

{% block content %}
    <h1>Список ваших заявок</h1>
    {% if tickets %}
        <table>
            <thead>
            <tr>
                <th>Заголовок</th>
                <th>Статус</th>
                <th>Дата создания</th>
                <th>Планируемая дата исполнения</th>
                {% if user.groups.filter %}
                    <th>Пользователь</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{% url 'helpdesk:view_ticket' ticket.id %}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.get_status_display }}</td>
                    <td>{{ ticket.created_at }}</td>
                    <td>{{ ticket.deadline|default:"не назначена" }}</td>
                    {% if user.groups.filter %}
                        <td>{{ ticket.user.last_name }} {{ ticket.user.first_name}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У вас еще нет заявок.</p>
    {% endif %}
    <p><a href="{% url 'helpdesk:create_ticket' %}">Создать новую заявку</a></p>
{% endblock %}
